{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{marque.nom}}</h1>
	<p>{{marque.creation|date('d/m/Y')}}</p>
	<img src="{{asset('uploads/' ~ marque.logo)}}" style="width: 100px;">

	<h2>Modifier</h2>
	{{form(edit)}}
{% endblock %}